<!-- footer.component.html -->
<footer class="footer">
  <nav class="footer-nav">
    <button class="icon-btn" routerLink="/students" routerLinkActive="active">
      <i class="fa-solid fa-house"></i>
    </button>
    <button class="icon-btn" routerLink="/teachers" routerLinkActive="active">
      <i class="fa-solid fa-user-graduate"></i>
    </button>
    <button class="icon-btn" routerLink="/business" routerLinkActive="active">
      <i class="fa-solid fa-building"></i>
    </button>
    <button class="icon-btn" routerLink="/coordinator" routerLinkActive="active">
      <i class="fa-solid fa-user-tie"></i>
    </button>
  </nav>
</footer>
